page-login {
    margin: 25px 0 0 auto;
    .slides {
        height: calc(100% - 200px);
        img {
            width: 70%;
        }
    }
    .highlight {
        background-color: #C2EFC3;
    }
}