<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon color="primary" name="menu"></ion-icon>
        </button>
        <ion-title class="smaller">Most Popular Users In Your Area</ion-title>
        <ion-buttons end>
          <button ion-button icon-only>
            <img height="25" src="assets/empty.png"/>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="location">
        <ion-label class="location-label">Global</ion-label>
    </ion-item>
    <ion-grid>
        <ion-row wrap>
            <ion-col width-33 *ngFor="let i of numbers">
                <div class="avatar" *ngIf="user.picture">
                    <img [src]="user.picture.large">
                </div>
                <h6 *ngIf="user.name">
                    {{ user.name.first }}, {{ user.age }}
                </h6>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>