<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-title class="smaller">Most Popular Users In Your Area</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="city-select">
        <button ion-button icon-right>
            <h5>New York, NY</h5>
            <ion-icon color="primary" name="ios-arrow-down"></ion-icon>
        </button>
    </ion-item>
    <ion-grid>
        <ion-row wrap>
            <ion-col width-33 *ngFor="let i of numbers">
                <img *ngIf="user.picture" [src]="user.picture.large">
                <h6 *ngIf="user.name">
                    {{ user.name.first }}, {{ user.age }}
                </h6>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>