<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
            <img height="25" src="assets/empty.png"/>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid class="images" padding>
        <ion-row>
            <ion-col width-75>
                <div class="thumbnail large">
                    <img *ngIf="user.photoURL" class="edit" src="assets/edit.png" (click)="uploadProfileImage()">
                    <img *ngIf="!user.photoURL" src="assets/add.png" (click)="uploadProfileImage()">
                    <img class="img" *ngIf="user.photoURL" [src]="user.photoURL">
                </div>
            </ion-col>
            <ion-col width-25 class="right">
                <div class="thumbnail" *ngFor="let i of [0, 1, 2]">
                    <img *ngIf="images && images[i]" class="edit" src="assets/edit.png" (click)="uploadImage(i)">
                        <img *ngIf="!(images && images[i])" src="assets/add.png" (click)="uploadImage(i)">
                    <img class="img" *ngIf="images && images[i]" [src]="images[i]">
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="bottom">
            <ion-col width-25 *ngFor="let i of [3, 4, 5, 6]">
                <div class="thumbnail">
                    <img *ngIf="images && images[i]" class="edit" src="assets/edit.png" (click)="uploadImage(i)">
                        <img *ngIf="!(images && images[i])" src="assets/add.png" (click)="uploadImage(i)">
                    <img class="img" *ngIf="images && images[i]" [src]="images[i]">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form (ngSubmit)="editProfileSubmit()" name="edit-profile-form">
        <ion-list no-lines>
            <ion-item>
                <ion-input type="text" name="user-first-name" [(ngModel)]="user.firstName" placeholder="First Name" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-birthday" [(ngModel)]="user.birthday" placeholder="Birthday"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input id="insta" type="text" name="user-instagram" [(ngModel)]="user.instagram" placeholder="Instagram Handle" ></ion-input>
            </ion-item>
            <ion-grid padding>
                <ion-label>Gender:</ion-label>
                <ion-row radio-group name="user-gender" [(ngModel)]="user.gender">
                  <ion-col width-50>
                    <ion-label>Male</ion-label>
                    <ion-radio value="male"></ion-radio>
                  </ion-col>
                  <ion-col width-50>
                    <ion-label>Female</ion-label>
                    <ion-radio value="female"></ion-radio>
                  </ion-col>
                </ion-row>
                <ion-label>Height:</ion-label>
                <ion-row>
                    <ion-col width-50>
                        <ion-select name="user-height-ft" [(ngModel)]="user.heightFt" placeholder="Feet">
                          <ion-option value="1">1</ion-option>
                          <ion-option value="2">2</ion-option>
                          <ion-option value="3">3</ion-option>
                          <ion-option value="4">4</ion-option>
                          <ion-option value="5">5</ion-option>
                          <ion-option value="6">6</ion-option>
                          <ion-option value="7">7</ion-option>
                          <ion-option value="8">8</ion-option>
                        </ion-select>
                    </ion-col>
                    <ion-col width-50>
                        <ion-select name="user-height-in" [(ngModel)]="user.heightIn" placeholder="Inches">
                          <ion-option value="0">0</ion-option>
                          <ion-option value="1">1</ion-option>
                          <ion-option value="2">2</ion-option>
                          <ion-option value="3">3</ion-option>
                          <ion-option value="4">4</ion-option>
                          <ion-option value="5">5</ion-option>
                          <ion-option value="6">6</ion-option>
                          <ion-option value="7">7</ion-option>
                          <ion-option value="8">8</ion-option>
                          <ion-option value="2">2</ion-option>
                          <ion-option value="3">3</ion-option>
                          <ion-option value="4">4</ion-option>
                          <ion-option value="5">5</ion-option>
                          <ion-option value="6">6</ion-option>
                          <ion-option value="7">7</ion-option>
                          <ion-option value="8">8</ion-option>
                          <ion-option value="9">9</ion-option>
                          <ion-option value="10">10</ion-option>
                          <ion-option value="11">11</ion-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-item>
                <ion-input type="text" name="user-country" [(ngModel)]="user.country" placeholder="Country"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-city" [(ngModel)]="user.city" placeholder="City"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-school" [(ngModel)]="user.school" placeholder="University or School"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-school2" [(ngModel)]="user.school2" placeholder="Additional University or School"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-job" [(ngModel)]="user.job" placeholder="Job Title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-company" [(ngModel)]="user.company" placeholder="Company"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-religion" [(ngModel)]="user.religion" placeholder="Religion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" name="user-ethnicity" [(ngModel)]="user.ethnicity" placeholder="Ethnicity"></ion-input>
            </ion-item>
            <ion-textarea class="textarea" name="user-bio" [(ngModel)]="user.bio" placeholder="About Me">
            </ion-textarea>
            <button ion-button type="submit"\ block>Save</button>
        </ion-list>
    </form>
</ion-content>