page-edit-profile {
    .item {
        padding: 0;
    }
    .list-md .item-block .item-inner {
        padding: 0;
    }
    ion-list ion-label {
        padding-left: 12px;
    }
    .toolbar-background {
        background-color: #fff;
    }
    .images {
        background: #FFFDF8;
        padding-top: 1px;
        img {
            position: absolute;
            top: 0;
            right: 0;
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
            border-radius: 1px;
            border: 0.5px solid color($colors, secondary);
        }
        ion-col {
            position: relative;
        }
        div {
            position: relative;
            padding-top: 100%;
            overflow: hidden;
        }
        .edit {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 30px !important;
            height: 30px !important;
            min-width: 30px !important;
            min-height: 30px !important;
            border: none;
            z-index: 1;
        }
        .delete {
            position: absolute;
            top: 3px;
            right: 3px;
            padding: 7px;
            width: 30px !important;
            height: 30px !important;
            min-width: 30px !important;
            min-height: 30px !important;
            border: none;
            z-index: 1;
            background: rgba(255,255,255,.9) !important;
            border-radius: 50% !important;
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    ion-datetime {
        width: 100%;
        height: 70px;
        border: 0.5px solid color($colors, secondary);
        .datetime-text {
            margin: auto;
        }
    }
    .instagram {
        position: relative;
        .input {
            .text-input {
                left: 20px;
            }
        }
        p {
            z-index: 2;
            position: absolute;
            top: 42px;
            left: 7px;
            color: color($colors, primary);
        }
    }
    .input {
        height: 70px;
        border: 0.5px solid color($colors, secondary);
        .text-input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 15px;
            margin: auto;
        }
    }
    .anatomy {
        .radio {
            padding-left: 12px;
        }
    }
    .radio-icon {
        border-width: 0.5px !important;
    }
    .radio-inner {
        position: absolute;
        top: 0 !important;
        right: 0;
        bottom: 0;
        left: 0 !important;
        margin: auto;
        width: 10px !important;
        height: 10px !important;
    }
    .checkbox-icon {
        border-radius: 50% !important;
        border-width: 0.5px !important;
        
    } 
    .select {
        position: relative;
        border: 0.5px solid color($colors, secondary);
        max-width: 100% !important;
        width: 100%;
        height: 70px;
        line-height: 40px;
        .select-icon {
            display: block;
            margin: auto;
            .select-icon-inner {
                color: color($colors, primary);
            }
        }
    }
    .height {
        font-family: 'Open Sans-Light', Helvetica, sans-serif;
        text-transform: capitalize;
        color: color($colors, med);
        border: 0.5px solid color($colors, secondary);
        max-width: calc(100%);
        height: 70px;
        line-height: 40px;
        .button-inner {
            justify-content:flex-start;
        }
        img {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 25px;
        }
    }
    .religion {
        .label {
            padding-left: 0;
        }
        .button {
            font-family: 'Open Sans-Light', Helvetica, sans-serif;
            font-size: 16px !important;
            text-transform: capitalize;
            color: color($colors, med);
            border: 0.5px solid color($colors, secondary);
            line-height: 40px;
            width: 100% !important;
            height: 70px !important;
            .button-inner {
                justify-content:flex-start;
            }
            img {
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 25px;
            }
        }
    }
    .textarea {
        height: 200px;
        .text-input {
            font-size: 16px;
            height: 100%;
            width: 100%;
            padding: 20px 0px;
            margin: 0px;
        }   
    }
    .button {
        display: block;
        margin: 10px auto;
        width: 180px;
        height: 50px;
    }
}