page-feedback {
    .input {
        height: 50%;
    }
    .text-input {
        border: 0.5px solid color($colors, secondary);
        height: 100%;
        width: 100%;
        padding: 20px;
        margin: 0px;
    }
    .button {
        display: block;
        margin: 10px auto;
        width: 180px;
        height: 50px;
    }
}