
<ion-header>
    <ion-navbar>
        <button color="primary" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="title" *ngIf="user">
            <img [src]="user.photoURL">
            {{ user.firstName }}
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="showOptions()">
                <img height="25" src="assets/dots.png"/>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="borderless">
        <ion-segment [(ngModel)]="viewState" color="primary">
            <ion-segment-button value="messages">
                Messages
            </ion-segment-button>
            <ion-segment-button value="about">
                About
            </ion-segment-button>
        </ion-segment>
    </ion-item>
    <div class="chat-area">
        <h5 id="bg-text" *ngIf="!messages">Say Hi to start the conversation.</h5>
        <ion-list no-lines [virtualScroll]="messages" approxItemWidth="200px" approxItemHeight="200px">
            <ion-item *virtualItem="let message">
                <div *ngIf="message.message" class="chat-bubble {{ message.position }} ">
                    {{ message.message }}
                </div>
                <div *ngIf="message.url" class="img-bubble {{ message.position }}">
                    <ion-img [src]="message.url" width="200" height="200" cache="true"></ion-img>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="chat-footer">
    <form (ngSubmit)="send()" name="chat-form">
        <div class="attach">
            <label for="file-input">
                <img src="assets/attach.png">
            </label>
            <input id="file-input" type="file" accept="image/*;capture=camera" (change)="attach($event, user)">
        </div>
        <div class="message">
            <ion-textarea type="text" name="chat-message" [(ngModel)]="chatInput" placeholder="Type a Message"></ion-textarea>
        </div>
        <button class="send" ion-button type="submit">
            <img src="assets/send.png">
        </button>
    </form>
</ion-footer>