
<ion-header>
    <ion-navbar>
        <button color="primary" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="title" *ngIf="user">
            <img [src]="user.photoURL">
            {{ user.firstName }}
        </ion-title>
        <ion-buttons end>
            <button ion-button>
                <img height="25" src="assets/dots.png"/>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="borderless">
        <ion-segment [(ngModel)]="viewState" color="primary">
            <ion-segment-button value="messages">
                Messages
            </ion-segment-button>
            <ion-segment-button value="about">
                About
            </ion-segment-button>
        </ion-segment>
    </ion-item>
    <div class="chat-area">
        <h5 id="bg-text" *ngIf="messages == null">Say Hi to start the conversation.</h5>
        <ion-list no-lines>
            <ion-item *ngFor="let message of messages">
                <div class="chat-bubble {{ message.position }} ">{{ message.message }}</div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="chat-footer">
    <form (ngSubmit)="send()" name="chat-form">
        <button class="attach" ion-button type="button" (click)="attach()">
            <img src="assets/attach.png">
        </button>
        <div class="message">
            <ion-textarea type="text" name="chat-message" [(ngModel)]="chatInput" placeholder="Type a Message"></ion-textarea>
        </div>
        <button class="send" ion-button type="submit">
            <img src="assets/send.png">
        </button>
    </form>
</ion-footer>