<ion-header>
  <ion-navbar>
    <button *ngIf="!discovering" ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-buttons start *ngIf="discovering">
      <button ion-button (click)="dismiss()">
          <img height="20" src="assets/delete.png"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>
  <ion-title>Out of likes!</ion-title>
  <div class="avatar" *ngIf="user">
    <img src="{{ user.photoURL }}">
  </div>
  <p *ngIf="user">Don't miss out on connecting with {{ user.firstName }}, subscribe now!</p>
  <div class="center">
    <h6><b>Subscription includes:</b></h6>
    <div *ngIf="!android">
      <p><b>30 Likes / Day</b><p>
      <p><b>5 Double Likes / Day</b><p>
    </div>
    <div *ngIf="android">
      <p><b>Unlimited Likes / Day</b><p>
    </div>
  </div>
  <div class="footer">
    <div class="buttons">
      <button ion-button *ngIf="!products" (click)="loadProducts()">
        Load Products
      </button>
      <div class="products" *ngFor="let product of products">
        <button ion-button *ngIf="!this.paymentS.restored" (click)="subscribe(product.productId)">
          {{ product.title }} - {{ product.price }}
        </button>
        <button ion-button *ngIf="this.paymentS.restored" (click)="subscribe(product.productId)">
          Manage Subscription
        </button>
        <!-- <p>{{ product.description }}</p> -->
      </div>
      <button *ngIf="discovering" class="dismiss" (click)="dismiss()">
        No thanks
      </button>
    </div>
  </div>
</ion-content>
