// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

/* light */
@font-face {
  font-family: 'Open Sans-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../assets/fonts/OpenSans-Light.ttf) format('truetype');
}

/* Set font family */

h1 h2 h3 h4 h5 h6 p {
    font-family: $font-family-base !important;
}

/* Fade out right side when menu is open */

.menu-content-open {
    .toolbar-background {
        background-color: black;
        opacity: 0.3;
        z-index: 100;
    }
    .fixed-content {
        background-color: black;
        opacity: 0.3;
        z-index: 100;
    }
}

/* Sidemenu styles */
.show-menu {
    .header {
        border-bottom: 1px solid #dedede !important;
    }
    .menu-inner {
        border-right: 1px solid #dedede !important;
    }
}
.sidemenu {
    .item-inner {
        color: color($colors, primary);
    }   
}

.md .menu-content-reveal {
    box-shadow: none;
}

/* Navbar styles */

.toolbar-background {
    background-color: #fff;
}

.toolbar-title {
    font-family: $font-family-base;
    color: color($colors, med);
}

.toolbar-content {
    text-align: center;
    // margin-right: 25px;
}

.toolbar-content img {
    display:inline-block;
   //  margin:0 45px;
}

.bar-button {
    font-family: $font-family-base;
    text-transform: capitalize;
}

.header::after {
    background-image: none;
}

/* Slide styles */

.swiper-pagination-bullet-active {
    background:#A2A3A7;
}

/* List styles */

.item {
    font-family: $font-family-base !important;
    border-bottom: 1px solid #dedede;
}

.list-md .item-block .item-inner {
    border-bottom: none;
}

.label {
    font-family: $font-family-base !important;
    margin: 10px 0px;
}

.centered-list ion-item {
    text-align: center;
}

.button {
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Open Sans';
    text-transform: none;
}