<ion-header>
    <ion-navbar>
        <button color="primary" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Chats</ion-title>
        <ion-buttons end>
            <button ion-button>
                <img height="25" src="assets/chats.png"/>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div class="chats-message" *ngIf="matchedUsers.length < 1">
            <h3>No matches yet...</h3>
            <h5>Please continue playing to find a match!</h5>
        </div>
        <button ion-item *ngFor="let user of matchedUsers" (click)="userTapped($event, user)">
            <div class="avatar" *ngIf="user.photoURL" item-left>
                <img [src]="user.photoURL">
            </div>
            <div *ngIf="user.firstName">
                <h2>{{ user.firstName }}</h2>
                <p>Nice to meet you!</p>
            </div>
            <div class="time" item-right>
                <p>12:00</p>
            </div>
        </button>
    </ion-list>
</ion-content>