<ion-header>
    <ion-navbar>
        <button color="primary" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Chats</ion-title>
        <ion-buttons end>
            <button ion-button>
                <img height="25" src="assets/chats.png"/>
                <div class="badge-top" *ngIf="this.chatS.unreadCount > 0">{{ this.chatS.unreadCount }}</div>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div class="chats-message" *ngIf="!this.chatS.chats">
            <h3>No matches yet...</h3>
            <h5>Please continue playing to find a match!</h5>
        </div>
        <button ion-item *ngFor="let chat of this.chatS.chats" (click)="userTapped($event, chat.user)" [ngClass]="{'unread': chat.unreadCount > 0 }">
            <div class="avatar" *ngIf="chat.user.photoURL" item-left>
                <img [src]="chat.user.photoURL">
                <div class="badge" *ngIf="chat.unreadCount">{{ chat.unreadCount }}</div>
            </div>
            <div *ngIf="chat.user.firstName">
                <h2>{{ chat.user.firstName }}</h2>
                <p>{{ chat.lastMessage }}</p>
            </div>
            <div class="time" item-right>
                <p>{{ chat.time }}</p>
            </div>
        </button>
    </ion-list>
</ion-content>