<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-title>
        <img alt="Logo" height="30" src="assets/joon.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openChats()">
        <img height="25" src="assets/chats.png"/>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="discover no-scroll">
    <ion-spinner *ngIf="users == null">
    </ion-spinner>
    <div swing-stack #swingContainer [stackConfig]="stackConfig" (throwoutleft)="swipeLeft()" (throwoutright)="swipeRight()" id="card-stack">
        <ion-card #cardsContainer swing-card *ngFor="let user of users">
            <ion-card-content class="crop" *ngIf="user">
                <img *ngIf="user.photoURL"[src]="user.photoURL">
                <ion-item id="cardsDock" *ngIf="user.firstName">
                    <h2>{{ user.firstName }}<span *ngIf="user.showAge !== false">, {{user.age}}</span></h2>
                    <p>{{ user.school }}</p>
                    <p class="mutual">
                        <img src="assets/mutual.png"/>
                        7
                    </p>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="discover-footer">
        <img src="assets/redo.png" (click)="undo()"/>
        <img class="lower" src="assets/ignore.png" (click)="swipeLeft()"/>
        <img class="lower" src="assets/like.png" (click)="swipeRight()"/>
        <img src="assets/super-like.png" (click)="doubleLike()"/>
    </div>
</ion-content>