<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="menu"></ion-icon>
    </button>
    <ion-title>
        <img alt="Logo" height="30" src="assets/joon.png">
    </ion-title>
    <ion-buttons end>
      <button class="chats" ion-button icon-only (click)="openChats()">
        <img height="25" src="assets/chats.png"/>
        <div class="badge-top" *ngIf="this.chatS.unreadCount > 0"> {{ this.chatS.unreadCount }} </div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="discover no-scroll">
    <div swing-stack #swingContainer [stackConfig]="stackConfig" (throwoutleft)="swipeLeft()" (throwoutright)="swipeRight()" id="card-stack">
        <div class="swing-message">
            <h3>No more users to show...</h3>
            <h5>Please update your preferences!</h5>
        </div>
        <ion-card #cardsContainer swing-card *ngFor="let user of users">
            <ion-card-content class="crop" *ngIf="user" (click)="userTapped(user)">
                <img *ngIf="user.photoURL"[src]="user.photoURL">
                <ion-item id="cardsDock" *ngIf="user.firstName">
                    <h2>{{ user.firstName }}<span *ngIf="user.showAge !== false">, {{ user.age }}</span></h2>
                    <p *ngIf="user.job">{{ user.job }}<span *ngIf="user.company"> at {{ user.company }}</span></p>
                    <p class="mutual" *ngIf="user.mutual">
                        <img src="assets/mutual.png"/>
                        {{ user.mutual }}
                    </p>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="discover-footer">
        <img src="assets/redo.png" (click)="undo()"/>
        <img class="lower" src="assets/ignore.png" (click)="swipeLeft()"/>
        <img class="lower" src="assets/like.png" (click)="swipeRight()"/>
        <img src="assets/super-like.png" (click)="doubleLike()"/>
    </div>
</ion-content>