page-preferences {
    .borderless {
        border: none;
        .item-inner {
            border: none !important;
        }
    }
    .item {
        padding: 0;
        .item-inner {
            padding: 0 !important;
        }
    }
    .relationship {
        position: relative;
        .label {
            position: absolute;
            top: calc(50% - 11px);
            margin: auto;
            z-index: 2;
            font-size: 16px;
            font-weight: 800;
            text-transform: capitalize;
        }
        .checkbox {
            width: 100%;
            .checkbox-icon {
                width: 100%;
                height: 70px;
                border-radius: 0px;
                border: 0.5px solid #999999;
                border-width: 0.5px;
            }
            .checkbox-inner {
                display: none;
                top: 40px !important;
                right: 0;
                bottom: 0;
                left: 0 !important;
                margin: auto;
            }
        }
    }
    .men {
        .label {
            left: calc(50% - 16px);
        }
        .checkbox-icon {
            border-right: 0px !important;
        }
    }
    .women {
        .label {
            left: calc(50% - 28px);
        }
    }

    ion-checkbox.relationship.checkbox.checkbox-md {
        width: 100%;
    }

    ion-grid {
        padding: 0px;
    }

    ion-col {
        padding: 0px;
    }

    .distance {
        font-weight: 800;
        font-size: 16px !important;
        font-family: 'Open Sans-Light', Helvetica, sans-serif;
        text-transform: capitalize;
        color: color($colors, med);
        border: 0.5px solid color($colors, secondary);
        width: 100%;
        height: 70px;
        line-height: 40px;
        .button-inner {
            justify-content:flex-start;
        }
        img {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 25px;
        }
    }
    .item-checkbox {
        border: none;
        padding: 20px 0px;
        .checkbox {
            margin-right: 10px !important;
            .checkbox-checked {
                background-color: #fff;
            }
            .checkbox-icon {
                border-radius: 0px;
                border: 1px solid #999999;
            }
            .checkbox-inner {
                border-color: color($colors, primary);
                top: 0 !important;
                right: 0;
                bottom: 2px;
                left: 0 !important;
                margin: auto;
            }
        }
        .item-inner {
            border: none !important;
        }
    }
    .item-md .item-button {
        height: 70px;
    }
}