page-matched {
    .matched-image {
        padding: 20px;
        width: 300px;
    }
    .images {
        position: relative;
        top: 30px;
        max-width: 350px;
        margin: auto;
        text-align: center;
        .avatar {
            display: inline-block;
            position: relative;
            width: 40%;
            // height: 150px;
            margin: 10px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 100%;
                min-width: 100%;
                border-radius: 50%;
                border: 0.5px solid #999999;
                margin: auto;
                object-fit: cover;
            }
        }
    }
    .buttons {
        position: relative;
        max-width: 350px;
        margin: auto;
        top: 200px;
        button {
            display: block;
            margin: auto;
            margin-bottom: 10px !important;
            width: 200px;
            height: 50px !important;
        }
    }
}
