<ion-header>
</ion-header>

<ion-content text-center padding>
  <img class="matched-image" src="assets/matched.png">
  <p *ngIf="this.modalS.otherUser">{{ this.modalS.otherUser.firstName }} liked you too ;)</p>
  <div class="images">
    <div class="avatar" *ngIf="this.modalS.user.photoURL">
      <img [src]="this.modalS.user.photoURL">
    </div>
    <div class="avatar" *ngIf="this.modalS.otherUser.photoURL">
      <img [src]="this.modalS.otherUser.photoURL">
    </div>
  </div>
  <div class="buttons">
    <button ion-button (click)="chat()">Send a Message</button>
    <button ion-button (click)="dismiss()">Keep Playing</button>
  </div>
</ion-content>
