<ion-header>

  <ion-navbar>
    <ion-title>
        <img alt="Logo" height="30" src="assets/joon.png">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>
  <h1>
    Hi<span *ngIf="this.modalS.user.firstName">, {{ this.modalS.user.firstName }}</span>!
  </h1>
  <h6>Just a moment...</h6>
  <div style="width:140px;margin:auto;">
    <div class="avatar" *ngIf="this.modalS.user.photoURL">
      <img [src]="this.modalS.user.photoURL">
    </div>
  </div>
  <div class="footer">
    <img src="assets/location.png">
    <h6 *ngIf="this.modalS.message">{{ this.modalS.message }}</h6>
  </div>
</ion-content>