page-loading {
    .load {
        margin: 75px auto;
        width: 150px;
        height: 150px;
        background-color: rgba(255,255,255,0);
        border-radius: 50%;
        position: relative;
    }
    .load img {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0px;
        min-height: 100%;
        min-width: 100%;
        border-radius: 50%;
        margin: auto;
        object-fit: cover;
    }
    .load:after,
    .load:before {
        display: inline-block;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: color($colors, primary);
    }

    .load:after {
        z-index: -100;
        -webkit-animation: outer-ripple 3s ease-in-out infinite;
        -moz-animation: outer-ripple 3s ease-in-out infinite;
        animation: outer-ripple 3s ease-in-out infinite;
    }

    .load:before {
        z-index: -200;
        -webkit-animation: inner-ripple 2.5s ease-in-out 0.1s infinite;
        -moz-animation: inner-ripple 2.5s ease-in-out 0.1s infinite;
        animation: inner-ripple 2.5s ease-in-out 0.1s infinite;
    }
    /* outer ripple */


    @keyframes pulse {
        0% {
            transform: scale(0.8);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        10% {
            transform: scale(1.1);
            filter: alpha(opacity=1);
            opacity: 1;
        }
        20% {
            transform: scale(0.9);
            filter: alpha(opacity=1);
            opacity: 1;
        }
        100% {
            transform: scale(0.8);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
    }

    @-moz-keyframes pulse {
        0% {
            transform: scale(0.8);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        10% {
            transform: scale(1.1);
            filter: alpha(opacity=1);
            opacity: 1;
        }
        20% {
            transform: scale(0.9);
            filter: alpha(opacity=1);
            opacity: 1;
        }
        100% {
            transform: scale(0.8);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
    }

    @-webkit-keyframes pulse {
        0% {
            transform: scale(0.8);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        10% {
            transform: scale(1.1);
            filter: alpha(opacity=1);
            opacity: 1;
        }
        20% {
            transform: scale(0.9);
            filter: alpha(opacity=1);
            opacity: 1;
        }
        100% {
            transform: scale(0.8);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
    }


    @keyframes outer-ripple {
        0% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        80% {
            transform: scale(3.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
        100% {
            transform: scale(3.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }

    @-webkit-keyframes outer-ripple {
        0% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        80% {
            transform: scale(3.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
        100% {
            transform: scale(3.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }

    @-moz-keyframes outer-ripple {
        0% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        80% {
            transform: scale(3.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
        100% {
            transform: scale(3.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }
    /* inner ripple */

    @keyframes inner-ripple {
        0% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        30% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        100% {
            transform: scale(2.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }

    @-webkit-keyframes inner-ripple {
        0% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        30% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        100% {
            transform: scale(2.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }

    @-moz-keyframes inner-ripple {
        0% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        30% {
            transform: scale(1);
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
        100% {
            transform: scale(2.5);
            filter: alpha(opacity=0);
            opacity: 0;
        }
    }
    .footer {
        position: relative;
        top: 60px;
        img {
            width: 60px;
        }
    }
}